
<title>Hospital Details</title>
<div class="row">
  <div class="col-xs-12">
    
    <h2 class="text-center" style="color: rgb(105, 11, 117);">Hospital Management System</h2>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-14">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click) = "showDetails()">Hospital Details</button>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click) = "showReview()">Hospital Review </button>
       
       <div *ngIf="review">
        <app-review></app-review>
     </div>
     <div *ngIf="detail">
        <app-detail></app-detail>
   </div>
    </div>
  </div>
</div>

<div class="image">
</div>