.image{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://image.shutterstock.com/image-photo/modern-hospital-style-building-600w-212251981.jpg');
    background-position:50% 50%;
  }